@charset "UTF-8";
/* CSS Document */

body {
	background-image: url(../images/concrete-texture.png);
}

a{
	font-family: 'Source Sans Pro', sans-serif;
	margin-left: 250px;
    text-decoration: none;
    margin-right: 30px;
	color:black;
}

a:hover{
	color:orangered;
}

div {
	text-align: center;
	margin-top: 60px;
}


